<aside class="view-sidebar set-view-menu">
    <div class="fixed-area">
        <a href="/" class="brand">
            <figure>
                <div class="logo"></div>
            </figure>
        </a>
         <div id="login-buttons" title="<%= title %>"></div>
    </div>
</aside>
