<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width">
    <title>Book Brawl <% if(title !== ''){ %> | <%= title %><% } %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <script src="https://use.typekit.net/gfv0mlb.js"></script>
    <!-- <script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script> -->
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=dkredt2k7j6r6cpbbszgfhxxp30emcr31ef0lfs2u0yr9wzd"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8012432159868719",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <body>
    <% include ./login-modal %>
