<header class="mobile-header">
  <div class="fixed-area">
    <div class="flex-row">
      <a class="control menu-toggle set-view-menu" href=".">
        <img class="menu-open" src="/assets/images/icons/menu-open.svg" alt="Menu open">
        <img class="menu-close" src="/assets/images/icons/menu-close.svg" alt="Menu close">
      </a>
      <a class="logo" href=".">Book Brawl</a>
      <a class="control search-toggle" href="/search">
        <img src="/assets/images/icons/search.svg" alt="Search">
      </a>
    </div>
  </div>
</header>
