<aside class="view-sidebar set-view-menu">
    <div class="fixed-area">
        <a href="/" class="brand">
            <figure>
                <div class="logo"></div>
            </figure>
        </a>
         <div id="login-buttons"  style="height: 100%; position: relative; min-height: 530px" title="<%= title %>"></div>
    </div>
</aside>
