<% include ./partials/head %>
<% include ./partials/mobile-head %>
<div class="view">
  <main class="main-view">
    <section id="edit-book" class="standard-section">
    </section>
    <% include ./partials/main-footer %>
  </main>
  <% include ./partials/sidebar %>
</div>
<script>
  const bookId = '<%= id %>';
</script>
<% include ./partials/end %>
