<% include ./partials/head %>
	<% include ./partials/mobile-head %>
<div class="view">
	<main class="main-view">
		<section class="standard-section">
			<div class="container email-us">
				<div class="content-block content-block-standard account-block">
					<header>
						<h3>Contact Us</h3>
						</br>
						<div class="lead copy">
							<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
							margin-bottom:7.5pt;margin-left:.75in;mso-add-space:auto;text-align:justify;
							text-justify:inter-ideograph;line-height:normal;background:white'>Email: <a
							href="mailto:support@bookbrawl.com"><span>support@bookbrawl.com</span></a></p>
						</div>
					</header>
					<div class="submit-row">
						<div id="button">
							<a class="button button-red" href=".">Close</a>
						</div>
					</div>
			   </div>
			</div>
		</section>
		<% include ./partials/main-footer %>
	</main>
	<% include ./partials/sidebar %>
</div>
<% include ./partials/end %>
