<% include ./partials/head %>
<% include ./partials/mobile-head %>
<div class="view">
  <main class="main-view">
    <section class="standard-section">
      <div class="container">
        <div id="dashboard-create"></div>
      </div>
    </section>
    <% include ./partials/main-footer %>
  </main>
  <% include ./partials/sidebar %>
</div>

<% if (bookId){ %>
<script>
    var bookId = '<%= bookId %>';
</script>
<% }else{ %>
	<script>
	    var bookId = false;
	</script>
<% } %>
<% include ./partials/end %>
