<% include ./partials/head %>
	<% include ./partials/mobile-head %>
<div class="view">
	<main class="main-view">
		<section class="standard-section">
			<div class="container">

				<div class="content-block content-block-standard account-block">
					<div id="edit-page" title="<%= title %>"></div>
				</div>

			</div>
		</section>
		<% include ./partials/main-footer %>
	</main>
	<% include ./partials/sidebar %>
</div>
<script>
	var profile_id = '<%= id %>';
</script>
<% include ./partials/end %>
