<% include ./partials/head %>
<% include ./partials/mobile-head %>
<div class="view">
  <main class="main-view">
    <section class="standard-section standard-section-with-sidebar">
      <div class="container">
        <div class="flex-row">
          <div id="search-page"></div>
        </div>
      </div>
    </section>
    <% include ./partials/main-footer %>
  </main>
  <% include ./partials/sidebar %>
</div>
<% include ./partials/end %>

